<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="btn p-0" id="breadcrumb-shopping-cart" href="/shopping-cart">Košík</a>
        </li>
        <li class="breadcrumb-item">
            <a class="btn p-0" id="breadcrumb-info" href="/objednavka/dodaci-udaje">Informace</a>
        </li>
        <li class="breadcrumb-item">
            <a class="btn p-0" id="breadcrumb-expedition" href="/objednavka/expedice">Expedice</a>
        </li>
        <li class="breadcrumb-item">
            <a class="btn p-0" id="breadcrumb-payment" href="/objednavka/platba">Platba</a>
        </li>
    </ol>
</nav>

