<form action="/order-done/" method="POST">
    <h1 class="lead">
        Platba
    </h1>

    <button type="submit" class="btn btn-primary btn-block">Hotovo</button>               
</form>

<script type="text/javascript">
    window.currentId = "breadcrumb-payment";
</script>